$p1: #d772a5;
$p2: #b04b7e;
$g1: #88c73c;
$g2: #679a15;
body {
  background-color: #ffcece;
  text-align: center;
  margin-top: 150px;  
}
div {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 190px;
}
div:before, div:after {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
}
div:before {
  animation: before 2s steps(1) infinite;
}
@keyframes before {
  0% { opacity: 1; }
  50% { opacity: 0; }
}
div:after {
  opacity: 0;
  animation: after 2s steps(1) infinite;
}
@keyframes after {
  0% { opacity: 0; }
  50% { opacity: 1; }
}
.flower:before {
  box-shadow:
40px 30px $p2, 60px 30px $p2, 80px 30px $p2, 30px 40px $g1, 40px 40px $p2, 50px 40px $p1, 60px 40px $g1, 70px 40px $p1, 80px 40px $p2, 90px 40px $g1, 20px 50px $g1, 30px 50px $p2, 40px 50px $p1, 50px 50px $g1, 60px 50px $g1, 70px 50px $g1, 80px 50px $p1, 90px 50px $p2, 100px 50px $g1, 20px 60px $g1, 30px 60px $g1, 40px 60px $g1, 50px 60px $g1, 60px 60px $g1, 70px 60px $g1, 80px 60px $g1, 90px 60px $g1, 100px 60px $g1,
20px 70px $g1, 30px 70px $g1, 40px 70px $g1, 50px 70px $g1, 60px 70px $g1, 70px 70px $g1, 80px 70px $g1, 90px 70px $g1, 100px 70px $g1, 30px 80px $g2, 40px 80px $g1, 50px 80px $g2, 60px 80px $g1, 70px 80px $g2, 80px 80px $g1, 90px 80px $g2, 40px 90px $g2, 50px 90px $g1, 60px 90px $g2, 70px 90px $g1, 80px 90px $g2, 50px 100px $g2, 60px 100px $g1, 70px 100px $g2, 20px 110px $g2, 60px 110px $g1, 20px 120px $g2, 30px 120px $g2, 60px 120px $g1, 100px 120px $g2, 30px 130px $g2, 40px 130px $g2, 60px 130px $g1, 90px 130px $g2,
100px 130px $g2, 30px 140px $g1, 40px 140px $g2, 60px 140px $g1, 80px 140px $g2, 90px 140px $g2, 60px 150px $g1, 50px 150px $g2, 40px 150px $g1, 80px 150px $g2, 90px 150px $g1, 50px 160px $g1, 60px 160px $g1, 70px 160px $g1, 80px 160px $g1, 60px 170px $g2, 60px 180px $g2, 60px 190px $g1; 
}
.flower:after {
  box-shadow: 
30px 10px $p1, 50px 10px $p1, 70px 10px $p1, 90px 10px $p1, 20px 20px $p1, 30px 20px $p1, 40px 20px $p1, 50px 20px $p1, 60px 20px $p1, 70px 20px $p1, 80px 20px $p1, 90px 20px $p1, 100px 20px $p1, 10px 30px $p1, 20px 30px $p1, 30px 30px $p1, 40px 30px $p2, 50px 30px $p1, 60px 30px $p2, 70px 30px $p1, 80px 30px $p2, 90px 30px $p1, 100px 30px $p1, 110px 30px $p1, 10px 40px $p1, 20px 40px $p2, 30px 40px $p1, 40px 40px $p2, 50px 40px $p1, 60px 40px $p2, 70px 40px $p1, 80px 40px $p2, 90px 40px $p1, 100px 40px $p2, 110px 40px $p1, 20px 50px $p1, 30px 50px $p2, 40px 50px $p1, 50px 50px $p2, 60px 50px $p2, 70px 50px $p2, 80px 50px $p1, 90px 50px $p2, 100px 50px $p1, 20px 60px $g1, 30px 60px $p1, 40px 60px $p2, 50px 60px $g1, 60px 60px $g1, 70px 60px $g1, 80px 60px $p2, 90px 60px $p1, 100px 60px $g1, 20px 70px $g1, 30px 70px $g1, 40px 70px $g1, 50px 70px $g1, 60px 70px $g1, 70px 70px $g1, 80px 70px $g1, 90px 70px $g1, 100px 70px $g1, 30px 80px $g2, 40px 80px $g1, 50px 80px $g2, 60px 80px $g1, 70px 80px $g2, 80px 80px $g1, 90px 80px $g2, 40px 90px $g2, 50px 90px $g1, 60px 90px $g2, 70px 90px $g1, 80px 90px $g2, 50px 100px $g2, 60px 100px $g1, 70px 100px $g2, 10px 110px $g2, 20px 110px $g2, 60px 110px $g1, 10px 120px $g1, 20px 120px $g2, 30px 120px $g2, 60px 120px $g1, 100px 120px $g2, 110px 120px $g2, 10px 130px $g1, 20px 130px $g1, 30px 130px $g2, 40px 130px $g2, 60px 130px $g1, 90px 130px $g2,
100px 130px $g2, 110px 130px $g1, 20px 140px $g1, 30px 140px $g1,
40px 140px $g2, 60px 140px $g1, 80px 140px $g2, 90px 140px $g2, 100px 140px $g1, 60px 150px $g1, 50px 150px $g2, 40px 150px $g1, 80px 150px $g2, 90px 150px $g1, 100px 150px $g1, 50px 160px $g1, 60px 160px $g1, 70px 160px $g1, 80px 160px $g1, 90px 160px $g1, 60px 170px $g2, 60px 180px $g2, 60px 190px $g1;
} 
